// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Inter" !default;
$white: #FFFFFF;
$green: #00B262;
$grey: #CFCFCF;
$black-70: #464646;
$black: #181B23;
